.post {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}

.post-content {
  padding-top: 0.5rem;
}

.post-title {
  margin: 0;
}

.post-title > a {
  color: inherit;
}

.post-subtitle {
  color: #666;
  margin: 0;
}

.post-body {
  margin: 1rem 0;
}

.post-comment-count {
  color: #666;
  font-size: 0.707rem;
  margin-top: 0.3rem;
}
