html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@media (min-width: 350px) {
  html,
  body {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-size: 2.827rem;
}

h2 {
  font-size: 1.999rem;
}

h3 {
  font-size: 1.414rem;
}

p {
  font-size: 1rem;
}

/* App */

.app {
  overflow: auto;
  height: 100%;
}

.content {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
}

.content > * {
  width: 100%;
  max-width: 900px;
  padding: 1.5rem 0;
}

@media (min-width: 768px) {
  .content {
    padding: 1.5rem;
  }
}

/* Buttons */
.btn {
  text-transform: uppercase;
  font-size: 1.414rem;
  font-weight: 500;
  height: 4rem;
  padding: 0 2rem;
  border: 0;
  border-radius: 2px;
  background: rgba(158, 158, 158, 0.2);
  color: #000;
  cursor: pointer;
}

.btn svg,
.btn span {
  vertical-align: baseline !important; /* Overwriting the default style of 'middle' in react-icons */
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
  box-shadow: none;
}

.btn:active,
.btn:focus {
  background: rgba(158, 158, 158, 0.4);
  outline: none;
}

.btn.btn-sm {
  font-size: 1rem;
  padding: 0 1rem;
  height: 2rem;
}

.btn.btn-xs {
  font-size: 0.707rem;
  padding: 0 0.707rem;
  height: 1.414rem;
}

.btn.btn-primary {
  background: #2196f3;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background: #39a1f4;
}

.btn.btn-link,
.btn.btn-link:active,
.btn.btn-link:focus {
  padding: 0;
  height: initial;
  background: transparent;
  border: none;
  box-shadow: none;
  text-transform: none;
  color: #39a1f4;
  font-size: inherit;
}

.btn.btn-link:active,
.btn.btn-link:focus,
.btn.btn-link:hover {
  text-decoration: underline;
}

/* Forms */

label {
  font-size: 1.414rem;
}

/* Make select elements more consistent
 * See: https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Advanced_styling_for_HTML_forms#Dealing_with_the_select_nightmare */
select,
option {
  -webkit-appearance: none; /* To gain control over the appearance on WebKit/Chromium */
  -moz-appearance: none; /* To gain control over the appearance on Gecko */

  /* To gain control over the appearance on and Trident (IE)
     Note that it also works on Gecko and has partial effects on WebKit */
  background: none;
}

select {
  border-radius: 0;
}

input,
textarea,
select {
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #aaa;
}

option {
  font-size: inherit;
}

.form-warning,
.form-error {
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
}

.form-warning {
  color: #ff9800;
}

.form-error {
  color: #ff7043;
}
