html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

/* Buttons */
.btn {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  height: 2.6rem;
  padding: 0 2rem;
  border: 0;
  border-radius: 2px;
  background: rgba(158, 158, 158, 0.2);
  color: #000;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
  box-shadow: none;
}

.btn:active,
.btn:focus {
  background: rgba(158, 158, 158, 0.4);
  outline: none;
}

.btn.btn-sm {
  padding: 0 1rem;
  font-size: 1rem;
}

.btn.btn-primary {
  background: #2196f3;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background: #39a1f4;
}
