.login-modal-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3rem 2rem;
}

.login-modal-input {
  margin-bottom: 1rem;
}

.login-modal-error-text {
  color: #f44336;
  height: 1rem;
}

.btn.login-modal-login-with-google-btn {
  background-color: #fff;
  border: none;
  color: #000;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
